body
{
	background-image:url(../css/Pics/PhotoGallery/Easy.jpg);
	background-repeat:no-repeat;
	background-size:1920px 1080px;
	width:100%;

}
#Container
{
    Width:auto;
    Height:auto;
    Margin:100px;
}

.PolaroidImages a
{
    background: Gray;
	display: inline;
	float: left;
	margin: 0 15px 30px;
	padding: 10px 10px 25px;
	text-align: center;
	text-decoration: none;
	transition: all .15s linear;
	z-index:0;
    position:relative;
    
    -webkit-box-shadow: 18px 11px 14px black;
	-moz-box-shadow: 18px 11px 14px black;
	-webkit-transition: all .15s linear;
	-moz-transition: all .15s linear;
	box-shadow: 18px 11px 14px black;
}

.PolaroidImages a:after
{
    color: #77C467;  /*Sätter färgen på texten  */
	font-size: 22px;
	font-family:Comic, sans-serif;
	content: attr(title);
	position: relative;
	top:15px;
}

.PolaroidImages img
{
	-webkit-transition-: All 1s;
	transition:All 1s;
	
    display: block; 
	width: inherit; 
}
.PolaroidImages a:nth-child(n)
{
	-webkit-transition-: All 1s;
	transition:All 1s;
	-webkit-transform: rotate(-10deg);  /*Roterar i vissa sidor*/
	-moz-transform: rotate(-10deg); /*Roterar i mozilla*/
	transform: rotate(-10deg); /*Roterar i andra*/
}

.PolaroidImages a:nth-child(2n) /*Dessa gick väldigt fort det var bara göra likadant för alla bilder så man ska ha en sån här för varje bild om man nu ska vrida på dem som jag har förstått*/
{
    -webkit-transform: rotate(-20deg);  /*Roterar i vissa sidor*/
	-moz-transform: rotate(-20deg); /*Roterar i mozilla*/
	transform: rotate(-20deg); /*Roterar i andra*/
}

.PolaroidImages a:nth-child(3n)
{
    -webkit-transform: rotate(30deg);  
	-moz-transform: rotate(30deg); 
	transform: rotate(30deg); 
}

.PolaroidImages a:hover,
.PolaroidImages a:focus
{
    z-index:10;               /*Den funktion som gör att bilden lägger sig framför alla andra när man hovrar över den!!*/
	-webkit-transition-: All 1s;
	transition:All 1s;
	-webkit-transform: scale(1.5); /*Funktioner för olika webläsare!!*/ /*Transformerar bilderna i olika webläsare*/
	-moz-transform: scale(1.5);
    transform: scale(1.5);
	-webkit-box-shadow: 0 20px 40px #FFFC00;
	-moz-box-shadow: 0 20px 40px #FFFC00;
    box-shadow: 0 10px 20px #FFFC00;  /*Skugga för boxarna*/
}