 
   
   body
   {
      margin:0;
      padding:0;
   }
   
   #background 
   {
       padding: 0 !Important;
       width:100%;
       background-color:white;
       height:auto;
   }
   
   #header
   {
       background-size:25%;
       background-position:bottom;
       position:relative;
       height:360px;
       margin:0;   
       overflow:hidden;
       text-align:center;
   }
   
   #headerForPress
   {
       height:360px;
       overflow:hidden;
   }
   
   .PictureOnMe
   {
       width:400px;
       height:250px;
   }
  
   #Navigation
   {
       float:none;
       height:268px;
       width:100%;
       background-size:auto;
       overflow:hidden;
   }
   #Navigation ul
   {
     width:100%;
   }

   #Navigation ul li a /*fixar till färgen och blocken*/
   {
      margin:0.2em;
       width:92%; /*en riktig fuling så här ska det inte va egentligen //pratade med johan om det på redovisningen!*/
   }
   
   #Navigation h4
   {
       display:none;
   }

   #content
   {
       width:100%;
       float:none;
       max-height:100%;
       overflow:hidden;
   }
   
   #Zombiebild
   {
       float:right;
       width:150px;
   }
   
   #footer
   {
       height:150px;
       overflow:hidden;
       background-size:20%;
       background-position:bottom;
   }
   
   .HeaderPic
   {

   }
   
   p, h2, h3, dl
   {
       margin:0.4em;
   }
   
   #Minvideo
   {
       height:220px;
       width:90%;
       margin-left:15px;
   }
   
   .table
   {
      margin-left:4px;
   }
   
   #Minvector img
   {
   width:100%; 
   }
   img
   {
      max-width:100%;
   }
