body
{
  background-image:url(Pics/BackgroundImage.jpg);
  background-repeat:no-repeat;
	background-size:1920px 1080px;
	width:100%;
}
Main
{
  width:1400px;
  overflow:hidden;
  margin: 0 auto;
  background:transparent;
}
top
{
  background-color:transparent;
  color:#000;

  overflow:hidden;
}

header
{
  overflow:hidden;
  background-image:url(../Pics/Diamant.png);
  background-size:150px 150px;
  background-position:right 4px center;
  background-repeat: no-repeat;
  background-color: #42B042;
  height: 200px;
  text-align:center;
}

Nav/*Navigerings länkarna på vänstra sidan med fler identifikationer längre ner för att man ska få det så fint som möjligt!!*/
{
  background-color:#B4B4B4;
  overflow:hidden;
  text-align:center;
  color:black;
  font-size:100%;
}

Nav ul   /*listan börjar*/
{
    margin-left:25px;
    height:42px;
    padding:0;
}

Nav ul li
{
    margin:0 0.1em;
    float:left;
    list-style-type:none;
}

Nav ul li a /*fixar till färgen och blocken*/
{

  text-decoration:none;
  color:#000;
  padding:20px 11px;
  background-color:#42B042;
  display:block;
}

Nav ul li a:visited /*fixar så att texten blir vit när dom varit besökta*/
{
  color:#000;
}

Nav ul li a:hover, Nav ul li/*ställer in vad som händer när man "svävar över blocken"*/
{
  color:#42B042;
  background-color:#2C632C;
}

Nav .active a
{
    background-color:#003D00;
}

.active
{
  color:#000;
}

Article
{
  color:#000;
  float:left;
  overflow:hidden;
  width:65%;
  Background-color:#ACD8AC;
}

Section
{
  
  width:40%;
  Margin:54px;
}

Section ul
{
    list-style-type:none;
}

p, h2, h3
{
  Margin:0.3em;
}

.link
{
  font-size:120%;
  padding:10px 1px;
}

Aside
{
  Background-color:#B4B4B4;
  float:none;
  width:35%;
  height:100%;
  overflow:hidden;
}
Aside ul
{
    list-style-type:none;

}
Aside ul li a
{
  color:#FF6700;
  text-decoration:none;
}
.GoogleLogo{
  Width:35%;
  float:right;
  margin:4px 4px;
}
img
{
  width:100%;
}
footer
{
  background-color: #42B042;
  height: 84px;
  text-align:center;
  clear:both;
  color: black;
  position:relative;
} 

.Comments
{
  margin:10px;
  font-size:82%;
  height:0;
  Background-color:transparent;
  text-align:left;
  border-style:1px solid black;
}
#Namn
{
  Height:auto;
  text-align:left;
}

  ::selection {
  color:#42B042;
  background: Black; /* Denna gör det kompatibelt med WebKit/Blink webläsare så som safari och google! */
  }
  ::-moz-selection {
  color:#42B042;
  background:Black; /* Denna gör koden kompatibell med Gecko webläsare alltså mozilla! */
  }