#background
{
  width:1400px;
  position:relative;
  overflow:hidden;
  top:0;
  bottom:0;
  left:0;
  right:0;
  height:auto;
  margin: 0 auto;
  background:transparent;
}/*här har vi backgrund för sidan "hela strukturen"*/
#header
{
  background-image:url(../Pics/Diamant.png);
  background-size:250px 250px;
  background-position:right 4px center;
  background-repeat: no-repeat;
  background-color: #32C7D4;
  height: 300px;
  text-align:center;

}/*huvudet på sidan oftast med förklarande text*/
#headerForPress/*lite speciell för detta är huvudet för pressentationen speciell då den stora bilden på mig är med!*/
{
  background-color: #32C7D4;
  height: 600px;
  text-align:center;

}
#Navigation/*Navigerings länkarna på vänstra sidan med fler identifikationer längre ner för att man ska få det så fint som möjligt!!*/
{
  background-color: #32C7D4;
  height: 800px;
  width: 150px;
  text-align:center;
  float: Left;
  color:black;

  font-size:120%;
}

#content
{
  background-color:#B8ECF0;
  height: auto;
  width: 1250px;
  text-align: left;
  float:right;

}/*innehållet på sidan!*/

#footer/*foten med bild ochmitt namn*/
{
  background-image:url(../Pics/Diamant.png);
  background-size:140px 140px;
  background-position:center 5px;
  background-repeat: no-repeat;
  background-color: #32C7D4;
  height: 150px;
  text-align:center;
  clear:both;

  color: black;
} 
#Navigation ul   /*listan börjar*/
{
  margin:0;
  padding:0;
  width:150px;
  height:1350px;
  list-style-type:none;
}
#Navigation ul li a /*fixar till färgen och blocken*/
{
  text-decoration:none;
  color:black;
  padding:20px 11px;
  background-color:#B8ECF0;
  display:block;
}
#Navigation ul li a:visited /*fixar så att texten blir vit när dom varit besökta*/
{
  color:blue;
}
#Navigation ul li a:hover, #Navigation ul li/*ställer in vad som händer när man "svävar över blocken"*/
{
  color:black;
  background-color:#32C7D4;
}

#Navigation a
{
  background-image:url("Pics/sprite.png");
  display:block;
  background-repeat:no-repeat;
}

.active
{
  text-align:right;
  color:red;
}
.hover
{
  color:red;
}

.link
{
  font-size:120%;
  padding:10px 1px;
}
.Right
{
  float:right;
}
.Left
{
  float:left;
}
.PictureOnMe
{
  height:500px;
  width:1000px;
}

table, td, th
{
  margin-left:380px;
  text-align:center;
  border:4px Solid Navy;
}
.status
{
  border:2px solid black;
}
h3, h4, h2
{
  border-top:solid 4px #32C7D4;
  font-family: Arial, Helvetica, sans-serif;
  margin:0.4em;
}
h1
{
  font-family:"Times New Roman", Times, serif;
}
p, ul, a
{
  font-family: Arial, Helvetica, sans-serif;
}

p
{
  margin:0.4em;
}

  .Index:hover
  {
    background-position: 0px 14px;
  }

  .Laborationer:hover
  {
    background-position: 0px -77px;
  }

  .Presentation:hover
  {
    background-position: 0px -175px;
  }

  .Kontakt:hover
  {
    background-position: 0px -272.5px;
  }
  
  .Index
  {
    background-position: 0px -33.7px;
  }
  
  .Laborationer
  {
    background-position: 0px -125px;
  }
  
  .Presentation
  {
    background-position: 0px -223px;
  }
  
  .Kontakt
  {background-position: 0px -320px;
  }
#fraga
{
  border-radius:5px;
}

#Titel
{
  border-radius:5px;
}
#Arendetyp
{
  border-radius:5px;
}

label{
  width:100px;
  float:left;
}

fieldset
{
  width:400px;
}
#Zombiebild
{
  height:400px;
  width:200px;
}